.app-table {
  border-radius: 12px;
  background: transparent;
}

.mat-mdc-header-cell {
  background: var(--dt-header-bg, #000);
  color: var(--dt-header-color, white);
}

.mat-mdc-row:hover {
  background: var(--dt-row-hover);
  cursor: pointer;
}

.mat-mdc-cell {
  color: var(--dt-cell-color, white);
}

.tableBorder {
  border-color: var(--dt-data-bg, black);
  background: var(--dt-data-bg, rgba(0,0,0, 0.5));
}