.players-theme {
  --dt-header-color: rgba(193, 193, 193, 1);
  --dt-data-bg: rgba(0,0,0,0.35);
  --dt-cell-color: white;
}

.dark-theme {
  --dt-header-bg: #222;
  --dt-header-color: #eee;
  --dt-row-hover: #333;
}

.compact {
  --dt-row-hover: #f0f0f0;
}
